<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
  {{ partial "head.html" . }}
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
</head>


<body>
  <main>
    <div class="container-fluid h-100">
      <div class="row row-offcanvas row-offcanvas-left h-100">
        {{ if eq .Title "HomeIndex" }}
          <div class="content col-1 col-sm-6 p-0 h-100">
            {{ block "main" . }}{{end}}
          </div>
          <nav class="sidebar p-0 col-11 col-sm-6 my-auto h-100">
            <!-- pb-10 my-auto -->
            {{ partial "sidebar" . }}
          </nav>
        {{ else }}
          <nav class="sidebar col-4 p-0 position-fixed h-100">
            {{ partial "sidebar" . }}
          </nav>
          <div class="content col offset-4 p-5 pr-15">
            {{ $title := lower .Title }}
            {{ range .Site.Params.navlinks }}
              {{ if eq .name $title }}
                {{ if ne $title "portfolio" }}
                  <div class="pageTitle">{{.displayName}}</div>
                {{ end }}
              {{ end }}
            {{ end }}
            {{ block "main" . }}{{end}}
          </div>
        {{ end }}
      </div>
    </div>
  </main>


  {{/*  {{ block "footer" . }}{{ partial "footer" . }}{{end}}  */}}

  {{ partial "scripts.html" . }}
</body>
</html>
