<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
  {{ partial "head.html" . }}
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
</head>

<body>
  {{/*  {{ block "header" . }}{{ partial "header" . }}{{end}}  */}}
  <div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
      {{ partial "sidebar" }}
      {{ block "main" . }}{{end}}
    </div>
  </div>

  {{/*  {{ block "footer" . }}{{ partial "footer" . }}{{end}}  */}}

  {{ partial "scripts.html" . }}
</body>
</html>
